<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <h2 class="mb-4">Add Student</h2>
        <form (ngSubmit)="addStudent()" class="mb-4">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required [(ngModel)]="studentName" class="form-control">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required [(ngModel)]="studentAge" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary m-3">Add Student</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 student-table">
      <h2>Students</h2>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td><button class="btn btn-danger" (click)="deleteStudent(student)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>